@import url(../node_modules/normalize.css/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,700);
/* https://coolors.co/1446a0-08b2e3-efe9f4-db3069-484d6d */

:root {
    --accent-color: #1446a0;
    --lighten-color: #08b2e3;
    --light-color: #efe9f4;
    --danger-color: #db3069;
    --text-color: #484d6d;

    --danger-color-darken: #b5305d;
}

html {
    font-size: 10px;
}

body {
    background-color: currentColor;
    font-family: Dosis, sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

button {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-width: 0;
    border-radius: .3rem;
    background-color: var(--danger-color);
    box-shadow: 0 6px var(--danger-color-darken);
    text-align: center;
    font-family: inherit;
    color: var(--light-color);
    cursor: pointer;
    transform: translateY(0);
    transition-property: transform, box-shadow;
    transition-timing-function: ease-in;
    transition-duration: .2s;
}

    button:hover,
    button:focus {
        box-shadow: 0 4px var(--danger-color-darken);
        transform: translateY(2px);
    }

    button:active {
        transform: translateY(6px);
        box-shadow: 0 0 var(--danger-color-darken);
    }

    button:focus {
        outline: none;
    }

    button::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, .2);
    }

        button:focus::after {
            content: "";
        }

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--light-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 6px 6px rgba(0, 0, 0, .15);
}

.app-title {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--accent-color);
}

.infos-container {
    min-width: 70%;
}

.infos {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: .5rem;
    line-height: 4rem;
    font-size: 1.5em;
}

.info-label,
.info-value {
    margin-top: 0;
    margin-bottom: .5rem;
}

.info-label {
    flex-grow: 1;
    margin-right: 2rem;
}

.info-label::after {
    content: " :";
}

.info-value {
    font-size: 1.2em;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.info-value.-actual {
    min-width: 4em;
    text-align: right;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--lighten-color);
}

.info-value.-actual.-is-over {
    color: var(--danger-color);
}

.info-value.-objective {
}

.info-value.-objective::before {
    content: " / ";
}

.progress {
    position: relative;
    width: 70%;
    height: 70%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    background-color: transparent;
}

    .progress,
    .progress:hover,
    .progress:focus,
    .progress:active {
        box-shadow: none;
        transform: none;
    }

    .progress:focus {
    }

        .progress:focus::after {
            content: none;
        }

.progress > svg {
}

.progress > svg path {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--accent-color);
    stroke-width: 20;
    stroke-dasharray: 1509;
    stroke-dashoffset: 1508.176513671875;
    transition-property: stroke;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.progress > svg path.-is-over {
    stroke: var(--danger-color);
}

.shower-illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%) translate(12%, 8%);
}

.shower-water,
.shower-bubble {
    fill: var(--lighten-color);
}

.multiplicator {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    padding: 0;
    border-radius: 50%;
    line-height: 1;
    font-size: 2rem;
    font-weight: 700;
}

.multiplicator::before {
    display: inline-block;
    vertical-align: middle;
    height: 5rem;
}

.license {
    text-align: center;
    font-weight: 300;
    font-size: .8em;
}

.license p {
    margin-top: 0;
    margin-bottom: 0;
}
