<div class="infos-container">
    <div class="infos -time">
        <p class="info-label -time">Time</p>
        <p class="info-value -time -actual js-actual-time">{{ actualTime }}</p>
        <p class="info-value -time -average js-average-time">{{ averageTime }}</p>
    </div>

    <div class="infos -consumption">
        <p class="info-label -consumption">Consumption</p>
        <p class="info-value -consumption -actual js-actual-consumption">{{ actualConsumption }}</p>
        <p class="info-value -consumption -average js-average-consumption">{{ averageConsumption }}</p>
    </div>
</div>
