<div class="infos-container">
    <div class="infos -time">
        <p class="info-label -time">Time</p>
        <p class="info-value -time -actual" :class="{ '-is-over': actualProgress > 1 }">{{ actualTime }}</p>
        <p class="info-value -time -objective">{{ objectiveTime }}</p>
    </div>

    <div class="infos -consumption">
        <p class="info-label -consumption">Consumption</p>
        <p class="info-value -consumption -actual" :class="{ '-is-over': actualProgress > 1 }">{{ actualConsumption }}</p>
        <p class="info-value -consumption -objective">{{ objectiveConsumption }}</p>
    </div>
</div>
